@using MvcSample.Web.Models

@model User

<foo bar="Name"></foo>
<form action="index" controller="test">
    Inside of Foo
    <div>
        <input for="Name" />
    </div>
    <p>
        <strong>Colorful One for Age:</strong>
        <input for="Age" style="color:red;font-size:3em;" />
    </p>
</form>